<comments-popup
  data-loading-text="<%= t('app.loading') %>"
  data-delete-confirm-text="<%= t('comments.delete_confirm') %>"
  data-update-comment-text="<%= t('comments.update_comment') %>"
  data-comments-title-text="<%= t('comments.comments') %>">
  <span slot="send-icon"><%= svg_tag 'send.svg', class: 'send-icon' %></span>
</comments-popup>
<%= render UserMentionMenuComponent.new(menu_id: 'mention-menu') %>
