<%= content_tag :div, class: 'creative-tree', data: { id: creative.id, parent_id: creative.parent_id }, **drag_attrs do %>
  <div class="creative-row">
    <div class="creative-row-start">
      <div class="creative-row-actions">
        <div class="before-link creative-toggle-btn creative-action-btn" data-creative-id="<%= creative.id %>">
          <%= level <= 3 && filtered_children.any? ? helpers.toggle_button_symbol(expanded: expanded) : '' %>
        </div>
        <%= check_box_tag('selected_creative_ids[]', creative.id, false, class: 'select-creative-checkbox', style: select_mode ? '' : 'display: none') %>

        <%= button_tag('+', type: 'button',
                       class: 'creative-action-btn add-creative-btn',
                       data: { parent_id: creative.id },
                       style: (' visibility: hidden;' unless creative.has_permission?(Current.user, :write)),
                       title: t('creatives.help.add_child_creative')) %>
        <% if creative.has_permission?(Current.user, :write) %>
          <button type="button" class="creative-action-btn edit-inline-btn" data-creative-id="<%= creative.id %>">✎</button>
        <% end %>
        <div class="creative-divider" style="width: 6px;">
        </div>
      </div>
      <%= content %>
    </div>
    <%= helpers.render_creative_progress(creative, select_mode: select_mode) %>
  </div>
<% end %>
