<div class="plans-timeline-wrapper">
  <button id="timeline-today-btn" type="button"><%= t('plans.today', default: '오늘') %></button>
  <div id="plans-timeline" class="horizontal-timeline" data-plans="<%= raw plan_data.to_json %>" data-start-date="<%= @start_date %>" data-end-date="<%= @end_date %>"></div>
</div>
<hr>
<%= form_with(model: Plan.new, url: plans_path, local: true) do |form| %>
  <div>
    <%= form.text_field :name, placeholder: t('plans.plan_name') %>
  </div>
  <div>
    <%= form.date_field :target_date, placeholder: t('plans.target_date') %>
  </div>
  <div>
    <%= form.submit t('plans.add_plan') %>
  </div>
<% end %>
