<div class="popup-menu-wrapper">
  <button type="button" class="popup-menu-toggle <%= button_classes %>" data-menu-id="<%= menu_id %>">
    <%= raw button_content %>
  </button>
  <div id="<%= menu_id %>" class="popup-menu">
    <%= content %>
  </div>
</div>
