<h1 class="no-top-margin"><%= t('users.forgot_password') %></h1>

<%= tag.div(flash[:alert], class: "flash-alert") if flash[:alert] %>

<%= form_with url: collavre.passwords_path, class: "stacked-form" do |form| %>
  <%= form.email_field :email,
                       required: true,
                       autofocus: true,
                       autocomplete: "username",
                       placeholder: t("users.new.enter_your_email"),
                       value: params[:email],
                       class: "stacked-form-control" %>
  <%= form.submit t('users.send_password_reset_instructions'), class: "primary-action-button" %>
<% end %>

<br/>
<%= link_to t('users.new.back_to_sign_in'), collavre.new_session_path %>
