<%= form_for application, url: application.new_record? ? oauth_applications_path : oauth_application_path(application), html: { role: 'form', class: 'profile-form' } do |f| %>
  <% if application.errors.any? %>
    <div class="alert alert-danger" data-alert>
      <div style="font-weight: bold; margin-bottom: 0.5rem;"><%= t('doorkeeper.applications.form.error') %></div>
      <ul style="margin: 0; padding-left: 1.2rem;">
        <% application.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>

  <div>
    <%= f.label :redirect_uri %>
    <%= f.text_area :redirect_uri, required: true, style: "min-height: 100px;" %>
    <span class="text-sm text-gray-500 block mt-1">
      <%= t('doorkeeper.applications.help.redirect_uri') %>
    </span>
    <% if Doorkeeper.configuration.native_redirect_uri %>
      <span class="text-sm text-gray-500 block">
        <%= t('doorkeeper.applications.help.native_redirect_uri', native_redirect_uri: Doorkeeper.configuration.native_redirect_uri) %>
      </span>
    <% end %>
  </div>

  <div class="checkbox-field">
    <%= f.check_box :confidential %>
    <%= f.label :confidential %>
  </div>
  <div style="margin-left: 1.5rem; margin-top: -0.5rem; margin-bottom: 1rem;">
     <span class="text-sm text-gray-500 block">
      <%= t('doorkeeper.applications.help.confidential') %>
    </span>
  </div>

  <div>
    <%= f.label :scopes %>
    <%= f.text_field :scopes %>
    <span class="text-sm text-gray-500 block mt-1">
      <%= t('doorkeeper.applications.help.scopes') %>
    </span>
  </div>

  <div class="profile-actions" style="display: flex; gap: 1rem; align-items: center;">
    <%= f.submit t('doorkeeper.applications.buttons.submit'), class: "primary-action-button" %>
    <%= link_to t('doorkeeper.applications.buttons.cancel'), oauth_applications_path, class: "btn" %>
  </div>
<% end %>
