<div class="contact-management">
  <div class="flex-row-center-between">
    <p class="text-muted"><%= t('contacts.description') %></p>
    <%= link_to t('users.add_ai_user'), new_ai_users_path, class: "primary-action-button" %>
  </div>

  <% show_actions = (contacts || []).any? { |c| c.contact_user.ai_user? && c.contact_user.created_by_id == Current.user.id } %>

  <% if contacts.present? %>
    <div class="table-scroll">
      <table class="contacts-table">
        <thead>
          <tr>
            <th><%= t('users.table.avatar') %></th>
            <th><%= t('users.table.name') %></th>
            <th><%= t('users.table.email') %></th>
            <th><%= t('contacts.table.shared_creatives') %></th>
            <th><%= t('contacts.table.shared_with_me') %></th>
            <% if show_actions %>
              <th><%= t('users.table.actions') %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% contacts.each do |contact| %>
            <% contact_user = contact.contact_user %>
            <tr>
              <td>
                <%= render AvatarComponent.new(
                  user: contact_user,
                  size: 32,
                  classes: "avatar"
                ) %>
              </td>
              <td><%= contact_user.display_name %></td>
              <td><%= contact_user.email %></td>
              <td class="creative-cell">
                <%= render_contact_creatives(shared_by_me.fetch(contact_user.id, [])) %>
              </td>
              <td class="creative-cell">
                <%= render_contact_creatives(shared_with_me.fetch(contact_user.id, [])) %>
              </td>
              <% if show_actions %>
                <td class="text-right">
                  <% if contact_user.ai_user? && contact_user.created_by_id == Current.user.id %>
                    <%= link_to t('users.edit_ai.link'), edit_ai_user_path(contact_user), class: "btn btn-sm btn-secondary mr-1" %>
                    <%= button_to t('users.destroy.delete_ai_user'),
                                  user_path(contact_user),
                                  method: :delete,
                                  form: { data: { turbo_confirm: t('users.destroy.confirm_ai') } },
                                  class: "danger-link" %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p class="text-muted"><%= t('contacts.empty_state') %></p>
  <% end %>

  <% if total_contact_pages.to_i > 1 %>
    <nav class="contact-pagination">
      <% prev_page = contact_page.to_i - 1 %>
      <% next_page = contact_page.to_i + 1 %>
      <% if contact_page.to_i > 1 %>
        <%= link_to t('contacts.pagination.prev'), user_path(Current.user, tab: 'contacts', contact_page: prev_page), class: 'pagination-button' %>
      <% end %>
      <span class="pagination-status"><%= t('contacts.pagination.page_info', current: contact_page, total: total_contact_pages) %></span>
      <% if contact_page.to_i < total_contact_pages.to_i %>
        <%= link_to t('contacts.pagination.next'), user_path(Current.user, tab: 'contacts', contact_page: next_page), class: 'pagination-button' %>
      <% end %>
    </nav>
  <% end %>
</div>
