<%= render 'users/app_header' %>

<% if defined?(@invitation) && @invitation.present? %>
  <p>
    <strong><%= t('creatives.index.share_creative') %>:</strong>
    <%= strip_tags(@invitation.creative.effective_origin.description) %>
  </p>
<% end %>

<%= form_with model: @user, url: users_path, class: "stacked-form" do |form| %>
  <% if defined?(@invitation) && @invitation.present? %>
    <%= hidden_field_tag :invite_token, params[:invite_token] || params[:token] %>
  <% end %>
  <%= render 'users/id_pwd_fields', form: form, disable_email: defined?(@invitation) && @invitation.present? %>

  <%= form.password_field :password_confirmation,
                          required: true,
                          autocomplete: "new-password",
                          placeholder: t('.confirm_your_password'),
                          maxlength: 72,
                          class: "stacked-form-control" %>
  <%= form.submit t('.sign_up'), class: "primary-action-button" %>
<% end %>
<div class="auth-alt-action">
  <%= button_to t('users.sessions.new.sign_in_with_google'),
                '/auth/google_oauth2',
                method: :post,
                class: "primary-action-button",
                form: { class: "auth-alt-action__form" } %>
</div>

<br/>
<%= link_to t('.back_to_sign_in'), new_session_path %>
