<h1><%= t('users.details') %></h1>

<p>
  <strong><%= t('users.email') %>:</strong>
  <%= @user.email %>
</p>

<div>
  <%= render AvatarComponent.new(user: @user, size: 80, classes: 'avatar') %>
</div>

<%= form_with model: @user, url: user_path(@user), method: :patch, local: true, html: { multipart: true } do |f| %>
  <div>
    <%= f.file_field :avatar %>
  </div>
  <div>
    <%= f.text_field :avatar_url, placeholder: t('users.avatar_url') %>
  </div>
  <%= f.submit t('users.update_avatar') %>
<% end %>

<%= link_to t('users.change_password'), edit_password_user_path %>
