<h1 class="no-top-margin"><%= t('users.details') %></h1>

<div>
  <%= render AvatarComponent.new(user: @user, size: 80, classes: 'avatar') %>
</div>

<%= form_with model: @user, url: user_path(@user), method: :patch, local: true, html: { multipart: true, class: 'profile-form' } do |f| %>
  <div>
    <%= f.label :avatar, t('users.avatar') %>
    <%= f.file_field :avatar %>
  </div>
  <div>
    <%= f.label :name, t('users.name') %>
    <%= f.text_field :name, required: true %>
  </div>
  <div>
    <%= f.label :email, t('users.email') %>
    <%= f.text_field :email, required: true, disabled: true %>
  </div>
  <div>
    <%= f.label :avatar_url, t('users.avatar_url') %>
    <%= f.text_field :avatar_url, placeholder: t('users.avatar_url') %>
  </div>
  <div>
    <%= f.label :display_level, t('users.display_level') %>
    <%= f.number_field :display_level, min: 1 %>
  </div>
  <div>
    <%= f.label :completion_mark, t('users.completion_mark') %>
    <%= f.text_field :completion_mark %>
  </div>
  <div>
    <%= f.label :theme, t('users.theme') %>
    <%= f.select :theme, options_for_select([[t('app.system_mode'), nil], [t('app.light_mode'), 'light'], [t('app.dark_mode'), 'dark']], @user.theme) %>
  </div>
  <div>
    <%= f.label :calendar_id, t('users.calendar_id') %>
    <%= f.text_field :calendar_id, placeholder: t('users.calendar_id') %>
  </div>
  <div class="checkbox-field">
    <%= f.check_box :notifications_enabled %>
    <%= f.label :notifications_enabled, t('users.notifications_enabled') %>
  </div>
  <div>
    <%= f.label :locale, t('users.locale') %>
    <%= f.select :locale, [[t('users.locales.en-US'), 'en-US'], [t('users.locales.ko'), 'ko']] %>
  </div>
  <div>
    <%= f.label :timezone, t('users.timezone') %>
    <%= f.select :timezone, ActiveSupport::TimeZone.all.map { |tz| [tz.to_s, tz.tzinfo.name] } %>
  </div>
  <%= f.submit t('users.update_profile') %>
<% end %>

<%= link_to t('users.change_password'), edit_password_user_path %>
