<div class="inbox-item" data-id="<%= item.id %>">
  <div class="message">
    <% if item.link.present? %>
      <%= link_to item.localized_message, item.link, class: 'item-link unstyled-link' %>
    <% else %>
      <%= h item.localized_message %>
    <% end %>
  </div>
  <div class="time"><%= time_ago_in_words(item.created_at) %></div>
  <div class="actions">
    <% if item.state == 'read' %>
      <button class="mark-unread" data-id="<%= item.id %>"><%= t('collavre.inbox.mark_unread') %></button>
    <% else %>
      <button class="mark-read" data-id="<%= item.id %>"><%= t('collavre.inbox.mark_read') %></button>
    <% end %>
    <button class="delete-item" data-id="<%= item.id %>"><%= t('collavre.inbox.delete') %></button>
  </div>
</div>
