<%= form_with model: creative do |form| %>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description %>
  </div>

  <div>
    <%= form.label :featured_image, style: "display: block" %>
    <%= form.file_field :featured_image, accept: "image/*" %>
  </div>

  <div>
    <%= form.label :progress, style: "display: block" %>
    <%= form.number_field :progress, step: 0.01, min: 0.0, max: 1.0 %>
  </div>

  <div>
    <%= form.label :parent_id, style: "display: block" %>
    <%= form.number_field :parent_id, value: params[:parent_id] || form.object.parent_id %>
  </div>

  <div>
    <%= form.label :sequence, style: "display: block" %>
    <%= form.number_field :sequence %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
