<div id="inline-edit-form" class="inline-edit-form-shell" style="display:none;">
  <form id="inline-edit-form-element" method="post">
    <input type="hidden" id="inline-method" name="_method" value="patch" />
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <input type="hidden" id="inline-creative-description" name="creative[description]" />
    <input type="hidden" id="inline-parent-id" name="creative[parent_id]" />
    <input type="hidden" id="inline-before-id" name="before_id" />
    <input type="hidden" id="inline-after-id" name="after_id" />
    <input type="hidden" id="inline-child-id" name="child_id" />
    <div id="lexical-inline-editor"
         data-lexical-editor-root
         class="lexical-inline-editor"
         data-direct-upload-url="<%= rails_direct_uploads_url %>"
         data-blob-url-template="<%= rails_service_blob_url(':signed_id', ':filename') %>"
         data-placeholder="<%= t('creatives.inline_editor.placeholder') %>"></div>
    <div id="actions-inline-editor" style="padding: 0px 8px;">
      <div style="margin-top:0.5em;display:flex;align-items:center;gap:0.5em;">
        <input type="range" id="inline-creative-progress" name="creative[progress]" min="0" max="1" step="0.01">
        <span id="inline-progress-value">0%</span>
      </div>
      <div style="margin-top:0.5em;">
        <button type="button" id="inline-move-up" class="creative-action-btn" title="<%= t('creatives.index.inline_move_up_tooltip') %>">
          &nbsp;<%= svg_tag 'arrow-up.svg', class: 'icon-svg', width: 24, height: 24 %>
        </button>
        <button type="button" id="inline-move-down" class="creative-action-btn" title="<%= t('creatives.index.inline_move_down_tooltip') %>">
          &nbsp;<%= svg_tag 'arrow-down.svg',class: 'icon-svg', width: 24, height: 24 %>
        </button>
        <button type="button" id="inline-add" class="creative-action-btn add-creative-btn" title="<%= t('creatives.index.inline_add_sibling_tooltip') %>">
          &nbsp;<%= svg_tag 'add.svg',class: 'icon-svg', width: 24, height: 24 %>
        </button>
        <button type="button" id="inline-level-down" class="creative-action-btn add-creative-btn" title="<%= t('creatives.index.inline_level_down_tooltip') %>">
          &nbsp;
          <%= svg_tag 'hierarchy-child.svg',class: 'icon-svg', width: 24, height: 24 %>
        </button>
        <button type="button" id="inline-level-up" class="creative-action-btn add-creative-btn" title="<%= t('creatives.index.inline_level_up_tooltip') %>">
          &nbsp;
          <%= svg_tag 'hierarchy-parent.svg',class: 'icon-svg', width: 24, height: 24 %>
        </button>
        <% inline_delete_button_content = capture do %>
          &nbsp;<%= svg_tag 'trash-bold-outline.svg', class: 'icon-svg', width: 24, height: 24 %>
        <% end %>
        <%= render PopupMenuComponent.new(
              button_content: inline_delete_button_content,
              button_classes: 'creative-action-btn danger-link',
              button_attributes: { id: 'inline-delete-popup-toggle' },
              menu_id: 'inline-delete-popup-menu'
            ) do %>
          <button type="button"
                  id="inline-delete"
                  class="popup-menu-item danger-link"
                  title="<%= t('creatives.index.delete_only_this') %>"
                  data-confirm="<%= t('creatives.index.are_you_sure_delete_only_this') %>">
            <%= t('creatives.index.delete_only_this') %>
          </button>
          <button type="button"
                  id="inline-delete-with-children"
                  class="popup-menu-item danger-link"
                  title="<%= t('creatives.index.delete_with_children') %>"
                  data-confirm="<%= t('creatives.index.are_you_sure_delete_with_children') %>">
            <%= t('creatives.index.delete_with_children') %>
          </button>
        <% end %>
        <button type="button" id="inline-link" class="creative-action-btn" title="<%= t('creatives.index.link') %>">
          &nbsp;<%= svg_tag 'link.svg',class: 'icon-svg', width: 24, height: 24 %>
        </button>
        <button type="button"
                id="inline-unconvert"
                class="creative-action-btn"
                title="<%= t('creatives.index.unconvert') %>"
                data-confirm="<%= t('creatives.index.unconvert_confirm') %>"
                data-error="<%= t('creatives.index.unconvert_failed') %>">
          &nbsp;<%= svg_tag 'hierarchy-parent.svg',class: 'icon-svg', width: 16, height: 16 %>
           <%= svg_tag 'comment.svg',class: 'icon-svg', width: 24, height: 24 %>
        </button>
        <button type="button" id="inline-unlink" class="creative-action-btn danger-link" title="<%= t('creatives.index.unlink') %>" data-confirm="<%= t('creatives.index.are_you_sure_unlink') %>" style="display:none;">
          &nbsp;<%= svg_tag 'unlink.svg',class: 'icon-svg', width: 24, height: 24 %>
        </button>
        <button type="button" id="inline-close" class="creative-action-btn" title="<%= t('creatives.index.inline_close_tooltip') %>">
          &nbsp;<%= svg_tag 'close.svg',class: 'icon-svg', width: 24, height: 24 %>
        </button>
      </div>
      <button type="button" id="inline-recommend-parent" class="creative-action-btn" style="margin-top:0.5em;" title="<%= t('creatives.index.recommend_parent') %>">✨<%= t('creatives.index.recommend_parent') %></button>
      <select id="parent-suggestions" size="5" style="display:none;margin-top:0.5em;width:100%;"></select>
    </div>
  </form>
</div>

<div id="link-creative-modal" style="display:none;position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:1000;align-items:center;justify-content:center;">
  <div class="popup-box">
    <button type="button" id="close-link-creative-modal" class="popup-close-btn">&times;</button>
    <h2><%= t('creatives.index.link', default: 'Link') %></h2>
    <input type="text" id="link-creative-search" class="shared-input-surface" style="width:100%;margin-bottom:0.5em;" placeholder="<%= t('creatives.index.search_placeholder', default: 'Search creative') %>">
    <ul id="link-creative-results" style="list-style:none;padding:0;margin:0;max-height:300px;overflow-y:auto;"></ul>
  </div>
</div>
