<div id="inline-edit-form" style="display:none;background-color: var(--color-border);padding: 1em 0em">
  <form id="inline-edit-form-element" method="post">
    <input type="hidden" id="inline-method" name="_method" value="patch" />
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <input type="hidden" id="inline-creative-description" name="creative[description]" />
    <input type="hidden" id="inline-parent-id" name="creative[parent_id]" />
    <input type="hidden" id="inline-before-id" name="before_id" />
    <input type="hidden" id="inline-after-id" name="after_id" />
    <input type="hidden" id="inline-child-id" name="child_id" />
    <%#= trix-toolbar can be inserted by trix but not added so that added manually %>
    <trix-toolbar id="trix-toolbar"></trix-toolbar>
    <trix-editor input="inline-creative-description"
                 class="trix-content"
                 toolbar="trix-toolbar"
                 style="background-color: var(--color-bg);"
                 data-direct-upload-url="<%= rails_direct_uploads_url %>"
                 data-blob-url-template="<%= rails_service_blob_url(':signed_id', ':filename') %>"></trix-editor>
    <div style="margin-top:0.5em;display:flex;align-items:center;gap:0.5em;">
      <input type="range" id="inline-creative-progress" name="creative[progress]" min="0" max="1" step="0.01">
      <span id="inline-progress-value">0</span>
    </div>
    <div style="margin-top:0.5em;">
      <button type="button" id="inline-move-up" class="creative-action-btn">
        &nbsp;<%= svg_tag 'arrow-up.svg', class: 'icon-svg', width: 24, height: 24 %>
      </button>
      <button type="button" id="inline-move-down" class="creative-action-btn">
        &nbsp;<%= svg_tag 'arrow-down.svg',class: 'icon-svg', width: 24, height: 24 %>
      </button>
      <button type="button" id="inline-add" class="creative-action-btn add-creative-btn">
        &nbsp;<%= svg_tag 'add.svg',class: 'icon-svg', width: 24, height: 24 %>
      </button>
      <button type="button" id="inline-add-child" class="creative-action-btn add-creative-btn">
        &nbsp;
        <%= svg_tag 'hierarchy-child.svg',class: 'icon-svg', width: 16, height: 16 %>
        <%= svg_tag 'add.svg',class: 'icon-svg', width: 24, height: 24 %>
      </button>
      <button type="button" id="inline-delete" class="creative-action-btn danger-link" title="<%= t('creatives.index.delete_only_this') %>" data-confirm="<%= t('creatives.index.are_you_sure_delete_only_this') %>">
        &nbsp;<%= svg_tag 'trash-bold-outline.svg',class: 'icon-svg', width: 24, height: 24 %>
      </button>
      <button type="button" id="inline-delete-with-children" class="creative-action-btn danger-link" title="<%= t('creatives.index.delete_with_children') %>" data-confirm="<%= t('creatives.index.are_you_sure_delete_with_children') %>">
        &nbsp;
        <%= svg_tag 'hierarchy-child.svg',class: 'icon-svg', width: 16, height: 16 %>
        <%= svg_tag 'trash-bold-outline.svg',class: 'icon-svg', width: 24, height: 24 %>
      </button>
      <button type="button" id="inline-link" class="creative-action-btn" title="<%= t('creatives.index.link') %>">
        &nbsp;<%= svg_tag 'link.svg',class: 'icon-svg', width: 24, height: 24 %>
      </button>
      <button type="button"
              id="inline-unconvert"
              class="creative-action-btn"
              title="<%= t('creatives.index.unconvert') %>"
              data-confirm="<%= t('creatives.index.unconvert_confirm') %>"
              data-error="<%= t('creatives.index.unconvert_failed') %>">
        &nbsp;<%= svg_tag 'hierarchy-parent.svg',class: 'icon-svg', width: 24, height: 24 %>
         <%= svg_tag 'comment.svg',class: 'icon-svg', width: 24, height: 24 %>
      </button>
      <button type="button" id="inline-unlink" class="creative-action-btn danger-link" title="<%= t('creatives.index.unlink') %>" data-confirm="<%= t('creatives.index.are_you_sure_unlink') %>" style="display:none;">
        &nbsp;<%= svg_tag 'unlink.svg',class: 'icon-svg', width: 24, height: 24 %>
      </button>
      <button type="button" id="inline-close" class="creative-action-btn">
        &nbsp;<%= svg_tag 'close.svg',class: 'icon-svg', width: 24, height: 24 %>
      </button>
    </div>
    <button type="button" id="inline-recommend-parent" class="creative-action-btn" style="margin-top:0.5em;">✨<%= t('creatives.index.recommend_parent') %></button>
    <select id="parent-suggestions" size="5" style="display:none;margin-top:0.5em;width:100%;"></select>
  </form>
</div>

<div id="link-creative-modal" style="display:none;position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:1000;align-items:center;justify-content:center;">
  <div class="popup-box">
    <button type="button" id="close-link-creative-modal" class="popup-close-btn">&times;</button>
    <h2><%= t('creatives.index.link', default: 'Link') %></h2>
    <input type="text" id="link-creative-search" style="width:100%;margin-bottom:0.5em;" placeholder="<%= t('creatives.index.search_placeholder', default: 'Search creative') %>">
    <ul id="link-creative-results" style="list-style:none;padding:0;margin:0;max-height:300px;overflow-y:auto;"></ul>
  </div>
</div>
