<% if creative.progress > 0 && creative.progress < 1 %>
  <p><%= t('creatives.inventory.progress', value: creative.progress) %></p>
<% elsif creative.progress == 1 %>
  <p><%= t('creatives.inventory.completed') %></p>
<% else %>
  <p><%= t('creatives.inventory.todo') %></p>
  <p><%= t('creatives.inventory.notify_me') %></p>

  <%= form_with model: [creative, Subscriber.new] do |form| %>
    <%= form.email_field :email, placeholder: t('creatives.inventory.placeholder_email'), required: true %>
    <%= form.submit t('creatives.inventory.submit') %>
  <% end %>
<% end %>
