<%= tag.div(flash[:alert], class: "flash-alert") if flash[:alert] %>
<% if @parent_creative %>
<div data-controller="inline-editor" data-inline-editor-edit-url-value="<%= edit_creative_path(@parent_creative) %>" data-inline-editor-update-url-value="<%= creative_path(@parent_creative) %>" data-inline-editor-parent-id-value="<%= @parent_creative.id %>">
<% end %>

<div class="creative-actions-row">
  <% if @parent_creative&.parent_id.present? %>
    <%= link_to t('.up'), creative_path(@parent_creative.owning_parent), class: "back-link" %>
  <% elsif @parent_creative.present? %>
    <%= link_to t('.up'), creatives_path, class: "up-link" %>
  <% end %>
  
  <%= render 'add_button' if authenticated? && (!params[:id] || (@parent_creative && @parent_creative.has_permission?(Current.user, :write))) %>
  <% if (@parent_creative || @creative) && (@parent_creative || @creative).has_permission?(Current.user, :write) %>
    <%= render 'share_button' %>
  <% end %>

  <% if authenticated? && @parent_creative && @parent_creative.has_permission?(Current.user, :write) %>
    <%= link_to t('.edit'), edit_creative_path(@parent_creative), data: { action: "inline-editor#showForm" } %>
    <%= render 'delete_button', extra_button_classes: 'desktop-only' %>
  <% end %>
  <button id="set-plan-btn" class="set-plan-btn" style="display:none;"><%= t('app.set_plan') %></button>
  <input type="checkbox" id="select-all-creatives" style="display:none;vertical-align:middle;" />
  <button id="select-creative-btn" class="select-btn" data-select-text="<%= t('app.select') %>" data-cancel-text="<%= t('app.cancel_select') %>"><%= t('app.select') %></button>
  <button id="expand-all-btn" class="expand-btn" data-collapse-text="<%= t('app.collapse_all') %>" data-expand-text="<%= t('app.expand_all') %>" ><%= t('app.expand_all') %></button>
  <button id="import-markdown-btn" class="import-btn desktop-only"><%= t('.import_markdown') %></button>
  <button id="export-markdown-btn" class="export-btn desktop-only" data-parent-creative-id="<%= @parent_creative&.id %>" data-error="<%= t('creatives.index.export_failed') %>"><%= t('.export_markdown') %></button>
  <%= render 'mobile_actions_menu' %>
</div>
<%= render 'import_upload_zone' %>

<%#= TODO: remove this later completely recalculate progress you need to remove route, and controller also %>
<%#= button_to t('.recalculate_progress'), recalculate_progress_creatives_path, method: :post, form: { data: { turbo_confirm: t('.recalculate_all_parent_progress') } } if authenticated? %>

<%= stylesheet_link_tag 'comments_popup', media: 'all' %>
<%= stylesheet_link_tag 'mention_menu', media: 'all' %>

<div class="tags">
  <% labels = @parent_creative&.tags&.map { |tag| tag.label }&.compact %>
  <% labels&.each do |label| %>
    <input type="checkbox" class="tag-checkbox"
           <%= "checked" unless params[:tags].present? && params[:tags].include?(label.id.to_s) %>
           value="<%= label.id %>">

      <%= "##{label.name}" %>
      <% if label.type == "Plan" %> 🗓<%= label.target_date %><% end %>

  <% end %>
  <% if labels.present? %>
  <button id="apply-tags"><%= t('app.apply_tags') %></button>
  <% end %>
</div>

<% if @parent_creative %>
  <div class="creative-row" id="creative-markdown-block">
    <h1 class="page-title" style="display:flex;align-items:center;gap:1em;" data-inline-editor-target="display">
      <%= @parent_creative.effective_description %>
    </h1>
    <div data-inline-editor-target="form" style="display:none"></div>
    <div>
      <h1 style="display: flex; align-items: center; gap: 1em;">
        <%= render_creative_progress(@parent_creative) %>
      </h1>
    </div>
  </div>
<% else %>
  <div class="creative-row" id="creative-markdown-block">
    <h1 class="page-title" style="display:flex;align-items:center;gap:1em;">
      <span>
        <% if params[:tags].present? %>
          <%= render_tags(params[:tags]&.map { |tag_id| Label.find(tag_id) }, 'unstyled-link') %>
        <% else %>
          <%= t('.creatives') %>
        <% end %>
      </span>
    </h1>
    <div>
      <h1 style="display: flex; align-items: center; gap: 1em;">
        <% unless @overall_progress.nil? %>
          <%= render_progress_value(@overall_progress) %>
        <% end %>
      </h1>
    </div>
  </div>
<% end %>
<% if @parent_creative %>
</div>
<% end %>

<div id="creatives">
  <% if @creatives %>
    <%= render_creative_tree(@creatives, 1, select_mode: false, max_level: Current.user&.display_level || User::DEFAULT_DISPLAY_LEVEL) %>
  <% else %>
    <p style="text-align: center;"><%= params[:id] ? t('.no_sub_creatives') : t('.no_creatives') %></p>
  <% end %>
</div>

<%= render 'comments/comments_popup' %>

<%= render 'set_plan_modal' %>

<%= javascript_include_tag 'creatives_drag_drop', defer: true %>
<%= javascript_include_tag 'creatives_import', defer: true %>
<%= javascript_include_tag 'creatives_expansion', defer: true %>
<%= javascript_include_tag 'select_mode', defer: true %>
<%= javascript_include_tag 'comments', defer: true %>
<%= javascript_include_tag 'mention_menu', defer: true %>
<%= javascript_include_tag 'action_text_attachment_link', defer: true %>
<%= javascript_include_tag 'export_to_markdown', defer: true %>
<%= javascript_include_tag 'mobile_actions', defer: true %>
