<%= tag.div(flash[:alert], class: "flash-alert") if flash[:alert] %>
<div class="creative-actions-row">
  <% if @parent_creative&.parent_id.present? %>
    <%= link_to t('.up'), creative_path(@parent_creative.owning_parent), class: "back-link" %>
  <% elsif @parent_creative.present? %>
    <%= link_to t('.up'), creatives_path, class: "up-link" %>
  <% end %>
  
  <%= link_to t('.new_creative'), new_creative_path if authenticated? and not params[:id] %>
  <% if (@parent_creative || @creative) && (@parent_creative || @creative).has_permission?(Current.user, :write) %>
    <%= render 'share_button' %>
  <% end %>
  
  <% if authenticated? && @parent_creative && @parent_creative.has_permission?(Current.user, :write) %>
    <%= link_to t('.new_sub_creative'), @parent_creative&.id ? new_creative_path(parent_id: @parent_creative.id) : new_creative_path %>
    <%= link_to t('.edit'), edit_creative_path(@parent_creative) %>
    <%= link_to t('.append_as_parent_creative'), append_as_parent_creative_creatives_path(parent_id: @parent_creative&.id), class: 'btn btn-secondary' %>

    <%= render 'delete_button' %>

  <% end %>
  <button id="set-plan-btn" class="set-plan-btn" style="display:none;"><%= t('app.set_plan') %></button>
  <input type="checkbox" id="select-all-creatives" style="display:none;margin-left:1em;vertical-align:middle;" />
  <button id="select-creative-btn" class="select-btn" data-select-text="<%= t('app.select') %>" data-cancel-text="<%= t('app.cancel_select') %>"><%= t('app.select') %></button>
  <button id="expand-all-btn" class="expand-btn" data-collapse-text="<%= t('app.collapse_all') %>" data-expand-text="<%= t('app.expand_all') %>" ><%= t('app.expand_all') %></button>
  <button id="import-markdown-btn" class="import-btn"><%= t('.import_markdown') %></button>
  <button id="export-markdown-btn" class="export-btn" data-parent-creative-id="<%= @parent_creative&.id %>" ><%= t('.export_markdown') %></button>
</div>
<%= render 'import_upload_zone' %>

<%#= TODO: remove this later completely recalculate progress you need to remove route, and controller also %>
<%#= button_to t('.recalculate_progress'), recalculate_progress_creatives_path, method: :post, form: { data: { turbo_confirm: t('.recalculate_all_parent_progress') } } if authenticated? %>

<%= stylesheet_link_tag 'comments_popup', media: 'all' %>

<div class="tags">
  <% labels = @parent_creative&.tags&.map { |tag| tag.label } %>
  <% labels&.each do |label| %>
    <input type="checkbox" class="tag-checkbox"
           <%= "checked" unless params[:tags].present? && params[:tags].include?(label.id.to_s) %>
           value="<%= label.id %>">

      <%= "##{label.name}" %>
      <% if label.type == "Plan" %> 🗓<%= label.target_date %><% end %>

  <% end %>
  <% if labels.present? %>
  <button id="apply-tags">필터</button>
  <% end %>
</div>

<% if @parent_creative %>
  <div class="creative-row" id="creative-markdown-block">
    <h1 class="page-title" style="display:flex;align-items:center;gap:1em;">
      <%= @parent_creative.effective_description %>
    </h1>
    <div>
      <h1 style="display: flex; align-items: center; gap: 1em;">
        <%= render_creative_progress(@parent_creative) %>
      </h1>
    </div>
  </div>
<% else %>
  <div class="creative-row" id="creative-markdown-block">
    <h1 class="page-title" style="display:flex;align-items:center;gap:1em;">
      <span>
        <%= t('.creatives') %>
        <% if params[:tags].present? %>
        (<%= render_tags(params[:tags]&.map { |tag_id| Label.find(tag_id) }, 'unstyled-link') %>)
        <% end %>
      </span>
    </h1>
    <div>
      <h1 style="display: flex; align-items: center; gap: 1em;">
        <% unless @overall_progress.nil? %>
          <%= render_progress_value(@overall_progress) %>
        <% end %>
      </h1>
    </div>
  </div>
<% end %>

<div id="creatives">
  <% if @creatives %>
    <%= render_creative_tree(@creatives, 1, select_mode: false) %>
  <% else %>
    <p style="text-align: center;"><%= params[:id] ? t('.no_sub_creatives') : t('.no_creatives') %></p>
  <% end %>
</div>

<div id="comments-popup"
     data-loading-text="<%= t('app.loading') %>"
     data-delete-confirm-text="<%= t("comments.delete_confirm") %>"
     data-add-comment-text="<%= t('comments.add_comment') %>"
     data-update-comment-text="<%= t('comments.update_comment') %>">
  <button id="close-comments-btn">&times;</button>
  <h3 style="margin-top:0;"><%= t('comments.comments') %></h3>
  <form id="new-comment-form" style="display:none;">
    <textarea name="comment[content]" rows="2" required></textarea>
    <button type="submit"><%= t('comments.add_comment') %></button>
  </form>
  <br/>
  <div id="comments-list"><%= t('app.loading') %></div>
</div>

<%= render 'set_plan_modal' %>

<%= javascript_include_tag 'creatives_drag_drop', defer: true %>
<%= javascript_include_tag 'creatives_import', defer: true %>
<%= javascript_include_tag 'creatives_expansion', defer: true %>
<%= javascript_include_tag 'select_mode', defer: true %>
<%= javascript_include_tag 'comments', defer: true %>
<%= javascript_include_tag 'action_text_attachment_link', defer: true %>
<%= javascript_include_tag 'export_to_markdown', defer: true %>
