<%#= TODO: remove this later, currently show uses index template, see controller %>
<p><%= link_to t('users.back'), creatives_path %></p>

<section class="creative">

  <section class="creative-info">
    <% cache @creative do %>
      <% if @creative.parent %>
        <h1>
          <%= trix_view_only(@creative.parent.description) %>
        </h1>
      <% end %>
      <div>
        <%= trix_view_only(@creative.description) %>
      </div>
    <% end %>

    <%= render "inventory", creative: @creative %>

    <div class="creative-actions-row">
      <% if authenticated? %>
        <%= link_to t('creatives.index.new_sub_creative'), @creative&.id ? new_creative_path(parent_id: @creative.id, tags: params[:tags]) : new_creative_path(tags: params[:tags]) %>
        <%= button_to t('creatives.index.delete'), @creative, method: :delete, data: { turbo_confirm: t('creatives.index.are_you_sure') } %>
      <% end %>
    </div>

  </section>
</section>
