<p><%= link_to "Back", creatives_path %></p>

<section class="creative">
  <%= image_tag @creative.featured_image if @creative.featured_image.attached? %>

  <section class="creative-info">
    <% cache @creative do %>
      <% if @creative.parent %>
        <h1>
          <%= @creative.parent.description %>
        </h1>
      <% end %>
      <%= @creative.description %>
    <% end %>

    <%= render "inventory", creative: @creative %>

    <% if authenticated? %>
      <%= link_to "New sub-creative", @creative&.id ? new_creative_path(parent_id: @creative.id) : new_creative_path %>
      <%= link_to "Edit", edit_creative_path(@creative) %>
      <%= button_to "Delete", @creative, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    <% end %>
  </section>
</section>
