<%#= TODO: remove this later, currently show uses index template, see controller %>
<p><%= link_to "Back", creatives_path %></p>

<section class="creative">

  <section class="creative-info" data-controller="inline-editor" data-inline-editor-edit-url-value="<%= edit_creative_path(@creative) %>" data-inline-editor-update-url-value="<%= creative_path(@creative) %>" data-inline-editor-parent-id-value="<%= @creative.id %>">
    <% cache @creative do %>
      <% if @creative.parent %>
        <h1>
          <%= @creative.parent.description %>
        </h1>
      <% end %>
      <div data-inline-editor-target="display">
        <%= @creative.description %>
      </div>
      <div data-inline-editor-target="form" style="display:none"></div>
    <% end %>

    <%= render "inventory", creative: @creative %>

    <div class="creative-actions-row">
      <% if authenticated? %>
        <%= link_to "New sub-creative", @creative&.id ? new_creative_path(parent_id: @creative.id) : new_creative_path %>
        <%= link_to "Edit", edit_creative_path(@creative), data: { action: "inline-editor#showForm" } %>
        <%= button_to "Delete", @creative, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </section>
</section>
