<h1 class="no-top-margin"><%= t('collavre.users.change_password') %></h1>

<%= form_with(model: @user, url: collavre.update_password_user_path(@user), method: :patch, local: true) do |form| %>
  <%= tag.div(flash[:alert], class: "flash-alert") if flash[:alert] %>
  <div>
    <%= form.label :current_password, t('collavre.users.current_password') %><br>
    <%= form.password_field :current_password, autocomplete: 'current-password', maxlength: 72 %>
  </div>
  <div>
    <%= form.label :password, t('collavre.users.new_password') %><br>
    <%= form.password_field :password, autocomplete: 'new-password', minlength: Collavre::SystemSetting.password_min_length, maxlength: 72 %>
    <div class="help-text" style="font-size: 0.85em; color: var(--color-text-muted); margin-top: 0.25em;">
      <%= t('collavre.users.password_min_length_hint', count: Collavre::SystemSetting.password_min_length) %>
    </div>
  </div>
  <div>
    <%= form.label :password_confirmation, t('collavre.users.confirm_new_password') %><br>
    <%= form.password_field :password_confirmation, autocomplete: 'new-password', minlength: Collavre::SystemSetting.password_min_length, maxlength: 72 %>
  </div>
  <div>
    <%= form.submit t('collavre.users.change_password') %>
  </div>
<% end %>



<%= link_to t('collavre.users.back'), collavre.user_path(@user) %>
