<h1><%= @email.subject %></h1>
<p><strong><%= t('emails.list.title.to') %>:</strong> <%= @email.email %></p>
<p><strong><%= t('emails.list.title.event') %>:</strong> <%= t("emails.event.#{@email.event}") %></p>
<p><strong><%= t('emails.list.title.sent_at') %>:</strong> <%= l(@email.created_at, format: :long) %></p>
<pre><%= @email.body %></pre>
